body {
    background-color: #61a5c2;
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input[type=text],
select,
input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

body {
    background-color: #f0f7f4; /* Couleur de fond bleu/vert clair */
    font-family: Arial, sans-serif;
}

h2 {
    color: #1f5f54; /* Titre bleu/vert foncé */
}

.row {
    border-bottom: 1px solid #1f5f54; /* Ligne de séparation bleu/vert foncé */
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.id {
    font-weight: bold;
    color: #10656b; /* Couleur de l'ID matériel bleu/vert moyen */
}

.info {
    color: #308c7d; /* Couleur des informations bleu/vert foncé */
}